<p id="navigation"><a href="#">Your To-Dos</a> <a href="#">Your Account</a> <a href="#">Sign out</a> <a href="/" id="logo">SimplyDo.com</a></p>
<div id="listInterface">

  <div id="toDos">
    <h1><%= @page_title = @todo_list.name unless @todo_list.nil? %></h1>
    <%= render :partial => 'todos/add' %>
    <ul id="openToDos">
      <% @open_todos.each do |todo| %>
        <%= render :partial => 'todos/todo', :locals => {:todo => todo} %>
      <% end %>
    </ul>
    
    <div id="closedToDosContainer">
        <ul id="closedToDos">
          <% @closed_todos.each do |todo| %>
            <%= render :partial => 'todos/todo', :locals => {:todo => todo} %>
          <% end %>
        </ul>
    </div>

    <% unless @todo_list.nil? %>
    <div id="listOptions">
      <%= link_to('Delete this list?', @todo_list, :method => :delete) %>
    </div>
    <% end %>
  </div>

  <%= render :partial => 'todo_lists/todo_lists' %>

  <div class="clearThis"> </div>

</div>