<%= render :partial => 'todos/add' %>


<div id="listInterface">

  <div id="toDos">
    <h1><%= @page_title = @todo_list.name %></h1>
    <% if @todos.size == 0 %>
      <p class="noToDos" id="noOpenToDos">Yay! No open To-Dos.</p>
    <% end  %>
    <ul id="openToDos">
      <% @todos.each do |todo| %>
        <%= render :partial => 'todos/todo' %>
      <% end %>
    </ul>
    
    <div id="closedToDos">
      <% if @todos.size == 0 %>
        <p class="noToDos">Nothing done yet :(</p>
      <% else  %>
        <ul>
          <% @todos.each do |todo| %>
            <li><%= todo.title %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <%= render :partial => 'todo_lists/todo_lists' %>

  <div class="clearThis"> </div>

</div>