<%= render :partial => 'todos/add' %>


<div id="listInterface">

  <div id="toDos">
    <h1><%= @page_title = @todo_list.name unless @todo_list.nil? %></h1>
    <% if @open_todos.size == 0 %>
      <p class="noToDos" id="noOpenToDos">Yay! No open To-Dos.</p>
    <% end  %>
    <ul id="openToDos">
      <% @open_todos.each do |todo| %>
        <%= render :partial => 'todos/todo', :locals => {:todo => todo} %>
      <% end %>
    </ul>
    
    <div id="closedToDos">
      <% if @closed_todos.size == 0 %>
        <p class="noToDos">Nothing done yet :(</p>
      <% else  %>
        <ul>
          <% @closed_todos.each do |todo| %>
            <%= render :partial => 'todos/todo', :locals => {:todo => todo} %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <%= render :partial => 'todo_lists/todo_lists' %>

  <div class="clearThis"> </div>

</div>